@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar start  */

.nav-button {
  position: relative;
}

.hover-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 10px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  opacity: 0;
  transform: translateY(-10px);
  animation: revealContent 0.3s ease forwards;
  border-top: 2px solid #f5b1b1;
}

@keyframes revealContent {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-button:hover .hover-content {
  display: block;
}



.nav-button {
  cursor: pointer;
}

.hover-content div {
  margin-bottom: 5px;
}

/* navbar end  */

/* banner start  */
.wave-border {
  position: relative;
}

.wave-border-inner {

  animation: wave-animation 2s infinite linear;
}

@keyframes wave-animation {
  0% {
    border-color: rgb(241, 194, 194);
  }

  25% {
    border-color: #f0d8d8;
  }

  50% {
    border-color: #f3b7b7;
  }

  75% {
    border-color: #faa7a7;
  }

  100% {
    border-color: #fb9595;
  }
}

/* banner background  */
@media only screen and (min-width: 1000px) {
  .banner-bg {
    background-image: url('../assets/banner/output-onlinejpgtools.png');
    /* background-image: url('../assets/banner/EIA.w800.h800.305572ID_1.png'); 2 */
    background-repeat: no-repeat;
    background-position: left -80% bottom 80%;
    /* background-position:  left -10% bottom 800%; 2 */
    background-blend-mode: color-burn;
  }

  /* banner end  */

  /* 2nd banner start  */
  /* .second-banner-bg{
background-image: url('../assets//banner/1.png') ;
background-repeat: no-repeat;
background-position:top center;
background-blend-mode: multiply;
} */

  /* 2nd banner end  */
  /* beauty and spa  */



  .beautyspa-bg {
    background-image: url('../assets/images/stone.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-blend-mode: color-burn;
    position: relative;
    height: 260px;
    animation: moveBackground 10s linear infinite;
  }

  @keyframes moveBackground {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-2cm);
    }

    100% {
      transform: translateY(2cm);
    }
  }

  .beautyspa2-bg {
    background-image: url('../assets/images/12.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-blend-mode: color-burn;
    position: relative;
    height: 150px;
    animation: moveBackground 10s linear infinite;
  }

  @keyframes moveBackground {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-2cm);
    }

  }
}

.img2 {
  animation: img2Background 10s linear infinite;
}

@keyframes img2Background {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-2cm);
  }
}

/* our services  */

.flowermove {
  animation: flowermove 10s linear infinite;

}

@keyframes flowermove {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1cm);
  }
}

@media only screen and (min-width: 1000px) {

  /* .flowerstoneservice{
  background-image: url('../assets/images/stoneflower.png');
  background-repeat: no-repeat;
  background-position: bottom left -10%;
  background-blend-mode: color-burn;
  position: relative;
  height: 280px;
  animation: flowerstoneservic 10s linear infinite;

}
@keyframes flowerstoneservic {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1cm);
  }
} */
  .pinkf {
    background-image: url('../assets/images/pinkf.png');
    background-repeat: no-repeat;
    background-position: top 30% right;
  }
}

/* make appointment  */
.appoint-bg {
  background-image: url('../assets/banner/appoint.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/* Add this to your existing CSS or create a new stylesheet */
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  /* Adjust the duration and timing function as needed */
}

/* Add this to your existing CSS or create a new stylesheet */
@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 300px;
    /* Adjust the max-height value based on your content height */
  }
}

.dropdown-content {
  opacity: 0;
  overflow: hidden;
  animation: fadeIn 0.8s ease-in-out forwards;
  /* Adjust the duration and timing function as needed */
}

.dropdown-content.open {
  opacity: 1;
}

/* about us page  */
@media only screen and (min-width: 1000px) {
  .banner-aboutus-bg {
    background-image: url('../assets/banner/abbg.png');
    /* background-image: url('../assets/banner/EIA.w800.h800.305572ID_1.png'); 2 */
    background-repeat: no-repeat;
    background-position: left -13% top 10%;
    /* background-position:  left -10% bottom 800%; 2 */
    background-blend-mode: color-burn;
    background-size: 500px;
  }
}